.survey {
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    background: #2f2638;
    border-radius: 50%;
    text-align: center;
    border: 3px solid #fff;
    cursor: pointer;
}
.gift {
    bottom: 165px;
}
.popup-survey {
    z-index: 2;
    position: fixed;
    width: 400px;
    height: calc(100vh - 200px);
    top: 50%;
    transform: translateY(-50%);
    left: calc(50% - 200px);
    background: #fff;
    display: none;
}
.popup-survey .close-popup {
    position: absolute;
    right: -20px;
    top: -20px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}
.frameSurvey {
    width: 100%;
    height: 100%;
}
.survey .icon-quest {
    filter: invert(1);
    line-height: 45px;
}
span.text-survey {
    position: absolute;
    white-space: nowrap;
    right: 50px;
    background: #79e74f;
    line-height: 45px;
    border-radius: 20px;
    padding: 0 20px;
    top: -4px;
    border: 3px solid var(--bg-color);
    color: #000;
}